
<div class="container container-white p-3">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="row">
                
                <div class="col-lg-12">
                    <h3>Mes spécialités :</h3>
                    
                    <button (click)="afficheSpe(spe)"
                        *ngFor="let spe of (specialites$ | async)" 
                        type="button" 
                        class="btn btn-outline-info btn-rounded waves-effect col-lg-3 col-sm-6 mr-0 ml-0">{{ spe.nom }}
                    </button>
                    <hr>
                </div>
                
                <div class="col-lg-12" *ngIf="speSelected">
                    <h3>Mes droits :</h3>
                    <ul class="list-group">
                        <li *ngFor="let droit of droits$ | async " class="list-group-item ">
                            {{ droit.intitule }}
                            <i [appPossedeDroit]="droit.estAcquis" class="material-icons float-right">
                                close
                            </i>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12" *ngIf="speSelected">
            
            <ul class="list-group">
                <h3>Les matières :</h3>
                <li *ngFor="let matiere of matieres$ | async" class="list-group-item ">
                    {{ matiere.nom }}
                    <i class="material-icons float-right pointer" (click)="deleteMatiere(matiere)" *ngIf="possedeDroit('Supprimer')">
                        delete
                    </i>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="container container-white p-3">
<div class="row">
    <div class="col-12">
        <h3>Rejoindre un groupe ?</h3>
        <div class="form-check form-check-inline">
            <label class ="form-check-label">Lien:</label>
            <input type="text" class="form-control form-check-input" [(ngModel)]="lienRejoindre">
            <i class="material-icons pointer " (click)="rejoindreGroupe()">
                send
            </i>
        </div>

    </div>
</div>
</div>


<div class="container container-white p-3 mb-4" *ngIf="possedeDroit('Administrer')" >
    <div class="row">
        <h3 class="ml-5 mb-2">Panel Admin</h3>
        
    </div>

    <div class="row">
        <div class="col-6">
                <h4 class="ml-5">Tout les {{speSelected.nom}}</h4>

                <ul class="list-group" style="max-height: 40vh; overflow-y : scroll">
                    <li *ngFor="let user of users$ | async " class="list-group-item pointer" (click)="setUserActif(user)">
                        {{ user.nom }}
                        <i class="material-icons float-right">
                            edit
                        </i>
                    </li>
                </ul>
               
        </div>
    

        <div class="col-6" *ngIf="userSelected">
            <h4>Droits de : {{userSelected?.nom}}</h4>
            <ul class="list-group">
                <li *ngFor="let userSelectedDroit of usersSelectedDroits$ | async " class="pointer list-group-item ">
                    {{ userSelectedDroit.intitule }}
                    <i [appCheckboxDroit]="userSelectedDroit.estAcquis" class=" material-icons float-right" (click)="toggleDroit(userSelectedDroit)">
                        close
                    </i>
               </li>
            </ul>
        </div>
    </div>

    <div class="row" *ngIf="!pristineSpe">
        <div class="col-lg-6 col-md-12">
            <hr>
            <h2> Lien de partage : </h2>

            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <ul class="list-group">
                        <li *ngFor="let droitLink of selectDroitLink " class="pointer list-group-item " (click)="chooseLevelLink(droitLink)">
                            {{ droitLink.libelle }}
                            <i [appCheckboxDroit]="plusPetitEgal(droitLink.idDroit, droitLinkSelected.idDroit)" class=" material-icons float-right" >
                                close
                            </i>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="col-12">
                        <label>Temps de validité :</label>
                        <div class="form-check form-check-inline">
                            <input type="number" class="form-control col-9" [(ngModel)]="tempsValidite"><label class="form-check-label"> min.</label>
                        </div>
                    </div>


                    <div class="col-12">
                        <label>Lien : </label>
                        <div class="form-check form-check-inline">
                            <input type="text" class="col-10 form-control" [(ngModel)]="lienPartage">
                            <i class="material-icons pointer " (click)="getSharedLink(matiere)">
                                save_alt
                            </i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>