<div class="container">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="container container-white">
              <div class="row">
                <div class="col-12">
                  <span class="float-right">
                      <app-modal-ajout [idReason]="'ajout' + typeAct"
                      [title]="'Ajouter : ' + typeAct "
                      (pickedEvent)="ajouter($event)">
                    </app-modal-ajout>
                  </span>
                  <h3 class="text-center mt-1">{{typeAct}}</h3>
                  <hr>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                    <button (click)="choose(searchPossibility)"
                      *ngFor="let searchPossibility of (search$ | async)" 
                      type="button" 
                      class="btn btn-search waves-effect col-12 mt-2">
                      {{ searchPossibility.wording }}
                    </button>
                </div>
              </div>
            </div>
        </div>
          <div class="col-12 col-md-4">
              <div class="container container-white">
                <div class="row">
                  <div class="col-12">

                    <span class="float-right">
                        <app-modal-ajout [idReason]="'ajout' + typeAct"
                        [title]="'Ajouter : ' + typeAct "
                        (pickedEvent)="ajouter($event)">
                      </app-modal-ajout>
                    </span>
                    <h3 class="text-center mt-1">Section</h3>
                    <hr>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                      <button (click)="choose(searchPossibility)"
                        *ngFor="let searchPossibility of (search$ | async)" 
                        type="button" 
                        class="btn btn-search waves-effect col-12 mt-2">
                        {{ searchPossibility.wording }}
                      </button>
                  </div>
                </div>
              </div>
          </div>
            <div class="col-12 col-md-4">
                <div class="container container-white">
                  <div class="row">
                    <div class="col-12">
  
                      <span class="float-right">
                          <app-modal-ajout [idReason]="'ajout' + typeAct"
                          [title]="'Ajouter : ' + typeAct "
                          (pickedEvent)="ajouter($event)">
                        </app-modal-ajout>
                      </span>
                      <h3 class="text-center mt-1">Matière</h3>
                      <hr>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                        <button (click)="choose(searchPossibility)"
                          *ngFor="let searchPossibility of (search$ | async)" 
                          type="button" 
                          class="btn btn-search waves-effect col-12 mt-2">
                          {{ searchPossibility.wording }}
                        </button>
                    </div>
                  </div>
                </div>
            </div>
          </div>
</div>